html, body {
  height: 100%; /* Täyttää koko sivun korkeuden */
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Estää vierityksen koko sivulla */
  font-family: 'Roboto', sans-serif; /* Modern font */
}

.container {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0); /* Varmista, että teksti erottuu taustasta */
  padding: 20px;
  height: 100vh; /* Täyttää koko sivun korkeuden */
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  margin-left: 125px; 
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: left; 
  margin-bottom: 20px;
  margin-left: 50px; 
}

.buttonBlue {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s;
}

.buttonBlue:hover {
  background-color: #0056b3;
}

.scrollableContainer {
  overflow-y: auto;
  flex-grow: 1; /* Allows the container to grow and take available space */
  padding: 20px;
  border-radius: 10px;
  max-width: 700px; 
  justify-content: center;
  margin-bottom: 50px; /* Lisää 20px marginaalia listan alareunaan */
  scrollbar-width: none; /* Firefoxille, piilottaa vierityspalkin */
  -ms-overflow-style: none; /* Internet Explorer ja Edge */
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.12);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.categoryContainer {
  margin-bottom: 20px;
}



.tableContainer th, .tableContainer td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #9b9b9b;
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(202, 202, 202, 0.881);
}

@media (max-width: 640px) {
  .keikka {
    max-width: 100%; /* Laatikot venyvät täysleveydelle pienemmillä näytöillä */
    padding: 10px;
    margin: 10px 0;
  }
}



.reserved {
  font-weight: bold;
  color: red; /* Punainen väri korostaa keikalla olevia tuotteita */
}



.modal {
  position: absolute;
  top: 50%;
  left: 75%;
  right: auto;
  bottom: auto;
  
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}