@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
  height: 100%; /* Täyttää koko sivun korkeuden */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Estää vierityksen koko sivulla */
  font-family: 'Anton', sans-serif; /* Apply Anton font */
}

.container { /* Oletetaan, että tämä on pääelementti joka sisältää kaikki osat */
  height: 100%; /* Täyttää koko sivun korkeuden */
  overflow: hidden; /* Estää vierityksen tässä elementissä */
  padding: 20px;
}

.List {
  max-height: calc(100vh - 370px); /* Sopiva korkeus suuremmille näytöille */
  overflow-y: auto; /* Mahdollistaa pystysuoran vierityksen */
  margin-bottom: 170px; /* Lisää 20px marginaalia listan alareunaan */
  scrollbar-width: none; /* Firefoxille, piilottaa vierityspalkin */
  -ms-overflow-style: none; /* Internet Explorer ja Edge */
  
}

/* Mobiililaitteiden mediakysely */
@media (max-width: 600px) {
  .List {
    max-height: calc(100vh - 300px); /* Pienempi korkeus mobiililaitteille */
    margin-bottom: 80px; /* Pienempi marginaali mobiililaitteille */
  }
}


.container {
  background-image: url('/images/bg.png');
  background-size: cover;
  background-position: center;
  color: white; /* Varmista, että teksti erottuu taustasta */
  padding: 20px;
}

.header {
  color: #ffffff;
}

.text, .status {
  color: #003366; /* Tummansininen, joka sopii hyvin yhteen taustan kanssa */
}

.keikka {
  background-color: rgba(255, 255, 255, 0.9); /* Varmista, että tausta on edelleen läpikuultava */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  max-width: 600px; /* Aseta sopiva maksimileveys */
  
}



.keikkaHeader {
  cursor: pointer;
  color: blue;
}

.status {
  font-weight: bold;
}

.button {
  flex: 1; /* Jakaa tilan tasaisesti */
  min-width: 120px; /* Pienin leveys */
  max-width: 200px; /* Estää liian leveät napit */
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: #007BFF; /* Sininen tausta */
  color: white;
  border-radius: 5px; /* Pyöristetyt kulmat */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3; /* Tummentaa väriä hover-tilassa */
}

/* Statusvärit */
.statusBlue { color: blue; }
.statusGreen { color: green; }
.statusYellow {
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5); /* Läpikuultava musta pohjaväri */
  padding: 3px 6px; /* Lisää pieni tyyny tekstin ympärille */
  border-radius: 4px; /* Pyöristetyt kulmat */
}

.statusRed { color: red; }
.statusBlack { color: black; }

/* New CSS classes */
.itemsList {
  list-style-type: none; /* Poistaa listanumerot */
  padding: 0;
}

.item {
  background-color: rgba(229, 229, 229, 0.9); /* Taustaväri tuotelistalle, lisää läpinäkyvyyttä */
  margin-bottom: 5px; /* Väliä listan kohteiden välille */
  padding: 5px 10px; /* Sisätila ympäri listakohteen */
  border-radius: 5px; /* Pyöristetyt reunat listakohteille */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Kevyt varjostus listakohteille */
}

.itemQuantity {
  font-weight: bold; /* Lihavoi määrän tuodaaksesi sen paremmin esille */
  margin-right: 5px; /* Lisää väliä määrän ja tuotenimen välille */
  color: #004488;  
}

.itemName {
  color: #004488; /* Väri tuotenimelle, sopii yhteen tumman taustan kanssa */
}

.dates {
  color: #FFF; /* Vaalea teksti tummaa taustaa vasten */
  background-color: rgba(0, 0, 0, 0.5); /* Läpikuultava musta tausta tekstin takana */
  padding: 3px 6px; /* Lisää paddingia tekstin ympärille */
  border-radius: 5px; /* Pyöristetyt kulmat taustalle */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* Musta tekstivarjo parempaan luettavuuteen */
  font-weight: bold; /* Lihavoitu fontti */
  margin: 5px 0; /* Väliä ennen ja jälkeen päivämäärän */
}

.navigation {
  display: flex; /* Asettaa painikkeet vierekkäin */
  justify-content: flex-start; /* Siirtää painikkeet vasemmalle */
  align-items: center; /* Varmistaa, että painikkeet ovat samalla tasolla */
  gap: 10px; /* Lisää väliä painikkeiden väliin */
  flex-wrap: wrap; /* Estää ylivuodon pienillä näytöillä */
  width: 100%; /* Varmistaa, että navigaatio venyy tarvittaessa */
  max-width: 600px; /* Rajoittaa navigaation maksimileveyden */
  margin-left: 20px; /* Lisää 20 pikseliä tyhjää tilaa vasemmalle */
  padding: 10px 0;
}

